article {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.container {
    background-color: #ffeeee;
    width: 350px;
}

.input-box,
article div h2 {
    position: relative;
    left: 10px;
    padding: 3px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

.w3-input {
    height: 28px
}

#submit-box {
    position: relative;
    left: 25%;
    padding-bottom: 5px;
    padding-top: 5px;
}

#submit{
    background-color: #999;
}

#registrarse {
    padding-right: 10px;
    padding-top: 1px;
    height: 20px;
}

#registrarse input{
    background-color: #999;
}

.account:hover {
    cursor: pointer;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width:100%;
    z-index: 1;
}

.header {
    background-color: white;
    height: 200px;
}

.header-image, .header-content {
    display: inline-block;
    height: 100%;
}

.header-content {
    margin-left: 20px;
}

.form-content {
    background-color: #f9f9f9;
    width: 100%;
    flex-grow: 10;
    padding-top: 20px;
    padding-left: 10px;
}

.form-slot, .date-container {
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.user-view {
    width: 100%; 
    height: auto; 
    display:flex; 
    flex-direction: column;
}

.no-input {
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 0px;
}

.date-container {
    color: #9aa0bd;
    padding: 10px;
    display: flex;
}

.date-span {
    margin-top: -10px; 
    margin-left: -2px
}

.go-back {
    float: left;
    margin: 20px;
    border-radius: 50%;
    width: 25px;
    display:flex;
    justify-content: center;
}

#waiting-spinner {
    display: none;
}